* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

img {
    width: 144px;
    height: 82px;
    border-radius: 4px;
}

.righteous-font {
    font-family: 'Righteous', cursive;
}

.top-bar {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.top-bar > * {
    color: #FFFFFF;
    margin-left: 21px;
    font-weight: 400;
}

.top-bar h1 {
    width: 248px;
    height: 44px;
 
    font-size: 44px;
    line-height: 55px;
}

.top-bar h2 {
    width: 226px;
    height: 17px;

    font-size: 18px;
    line-height: 21px;
}

.content {
    margin-left: 3px;
    margin-top: 92px;
    margin-bottom: 92px;

    display: flex;
    flex-direction: column;
}

.food {
    margin-top: 31px;

    width: 100%;
    height: 258px;
}

.drinks {
    margin-top: 27px;

    width: 100%;
    height: 258px;
}

.desserts {
    margin-top: 27px;

    width: 100%;
    height: 258px;
}

.category-description {
    margin-left: 19px;
    height: 25px;
    
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
}

.row-of-items {
    width: 100%;

    display: flex;
    overflow-x: scroll;
}

.item-box {
    margin-top: 17px;
    margin-left: 16px;

    width: 172px;
    height: 216px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #FFFFFF;
    border-radius: 9px;

    padding: 8px;

    position: relative;
}

.selected {
    border: 6px solid #32B72F;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.check {
    color: #32B72F;
    font-size: 20px;

    position: absolute;
    bottom: 10px;
    right: 6px;
}

.extra-margin {
    margin-right: 19px;
}

.name {
    width: 139px;
    height: 23px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}

.description {
    width: 147px;
    height: 39px;
    
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #A6A6A6;
}

.value {
    width: 66px;
    height: 19px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.separator {
    height: 16px;
}


.bottom-bar {
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 1;
}

.select-button {
    background-color: #CBCBCB;
    
    width: 364px;
    height: 61px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50px;
}

.select-button > * {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.selected-button {
    background-color: #32B72F;

    width: 364px;
    height: 61px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50px;
}

.selected-button p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.hidden {
    display: none;
}